:root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
}

.styles-module_tooltip__mnnfp {
  visibility: hidden;
  width: -webkit-max-content;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 90%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  will-change: opacity, visibility;
}

.styles-module_fixed__7ciUi {
  position: fixed;
}

.styles-module_arrow__K0L3T {
  position: absolute;
  background: inherit;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.styles-module_no-arrow__KcFZN {
  display: none;
}

.styles-module_clickable__Bv9o7 {
  pointer-events: auto;
}

.styles-module_show__2NboJ {
  visibility: visible;
  opacity: 0.9;
  opacity: var(--rt-opacity);
}

/** Types variant **/
.styles-module_dark__xNqje {
  background: #222;
  background: var(--rt-color-dark);
  color: #fff;
  color: var(--rt-color-white);
}

.styles-module_light__Z6W-X {
  background-color: #fff;
  background-color: var(--rt-color-white);
  color: #222;
  color: var(--rt-color-dark);
}

.styles-module_success__A2AKt {
  background-color: #8dc572;
  background-color: var(--rt-color-success);
  color: #fff;
  color: var(--rt-color-white);
}

.styles-module_warning__SCK0X {
  background-color: #f0ad4e;
  background-color: var(--rt-color-warning);
  color: #fff;
  color: var(--rt-color-white);
}

.styles-module_error__JvumD {
  background-color: #be6464;
  background-color: var(--rt-color-error);
  color: #fff;
  color: var(--rt-color-white);
}

.styles-module_info__BWdHW {
  background-color: #337ab7;
  background-color: var(--rt-color-info);
  color: #fff;
  color: var(--rt-color-white);
}

.BaseTable {
  box-shadow: 0 2px 4px 0 #eeeeee;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  font-size: 13px;
}

.BaseTable--disabled {
  opacity: 0.7;
  pointer-events: none;
}

.BaseTable--dynamic .BaseTable__row {
  overflow: hidden;
  align-items: stretch;
}

.BaseTable:not(.BaseTable--dynamic) .BaseTable__row-cell-text,
.BaseTable .BaseTable__row--frozen .BaseTable__row-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.BaseTable__table {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
}

.BaseTable__table-main {
  outline: 1px solid #eeeeee;
  left: 0;
}

.BaseTable__table-main .BaseTable__header-cell:first-child, .BaseTable__table-main .BaseTable__row-cell:first-child {
  padding-left: 15px;
}

.BaseTable__table-main .BaseTable__header-cell:last-child, .BaseTable__table-main .BaseTable__row-cell:last-child {
  padding-right: 15px;
}

.BaseTable__table-main .BaseTable__header {
  background-color: #f8f8f8;
}

.BaseTable__table-frozen-left .BaseTable__header,
.BaseTable__table-frozen-left .BaseTable__body, .BaseTable__table-frozen-right .BaseTable__header,
.BaseTable__table-frozen-right .BaseTable__body {
  overflow: hidden !important;
}

.BaseTable__table-frozen-left {
  box-shadow: 2px 0 4px 0 #eeeeee;
  top: 0;
  left: 0;
}

.BaseTable__table-frozen-left .BaseTable__header-cell:first-child, .BaseTable__table-frozen-left .BaseTable__row-cell:first-child {
  padding-left: 15px;
}

.BaseTable__table-frozen-left .BaseTable__header-row,
.BaseTable__table-frozen-left .BaseTable__row {
  padding-right: 0 !important;
}

.BaseTable__table-frozen-left .BaseTable__body {
  overflow-y: auto !important;
}

.BaseTable__table-frozen-right {
  box-shadow: -2px 0 4px 0 #eeeeee;
  top: 0;
  right: 0;
}

.BaseTable__table-frozen-right .BaseTable__header-cell:last-child, .BaseTable__table-frozen-right .BaseTable__row-cell:last-child {
  padding-right: 15px;
}

.BaseTable__table-frozen-right .BaseTable__header-row,
.BaseTable__table-frozen-right .BaseTable__row {
  padding-left: 0 !important;
}

.BaseTable__table-frozen-right .BaseTable__body {
  overflow-y: auto !important;
}

.BaseTable__header {
  overflow: hidden !important;
}

.BaseTable .BaseTable__header,
.BaseTable .BaseTable__body {
  outline: none;
}

.BaseTable__header-row, .BaseTable__row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}

.BaseTable__header-row {
  background-color: #f8f8f8;
  font-weight: 700;
}

.BaseTable__row {
  background-color: #ffffff;
}

.BaseTable__row:hover, .BaseTable__row--hovered {
  background-color: #f3f3f3;
}

.BaseTable__row-expanded {
  border-bottom: 1px solid #eeeeee;
}

.BaseTable__header-cell, .BaseTable__row-cell {
  min-width: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 7.5px;
  box-sizing: border-box;
}

.BaseTable__header-cell--align-center, .BaseTable__row-cell--align-center {
  justify-content: center;
  text-align: center;
}

.BaseTable__header-cell--align-right, .BaseTable__row-cell--align-right {
  justify-content: flex-end;
  text-align: right;
}

.BaseTable__header-cell {
  position: relative;
  cursor: default;
}

.BaseTable__header-cell:hover .BaseTable__column-resizer {
  visibility: visible;
  opacity: 0.5;
}

.BaseTable__header-cell:hover .BaseTable__column-resizer:hover {
  opacity: 1;
}

.BaseTable__header-cell .BaseTable__sort-indicator {
  display: none;
}

.BaseTable__header-cell--sortable:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.BaseTable__header-cell--sortable:not(.BaseTable__header-cell--sorting):hover .BaseTable__sort-indicator {
  display: block;
  color: #888888;
}

.BaseTable__header-cell--sorting .BaseTable__sort-indicator, .BaseTable__header-cell--sorting:hover .BaseTable__sort-indicator {
  display: block;
}

.BaseTable__header-cell--resizing .BaseTable__column-resizer {
  visibility: visible;
  opacity: 1;
}

.BaseTable__header-cell--resizing .BaseTable__column-resizer::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  content: '';
  left: -9999px;
}

.BaseTable__header-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.BaseTable__header-row--resizing .BaseTable__header-cell {
  background-color: transparent;
  cursor: col-resize;
}

.BaseTable__header-row--resizing .BaseTable__header-cell:not(.BaseTable__header-cell--sorting) .BaseTable__sort-indicator {
  display: none;
}

.BaseTable__header-row--resizing .BaseTable__header-cell:not(.BaseTable__header-cell--resizing) .BaseTable__column-resizer {
  visibility: hidden;
}

.BaseTable__column-resizer {
  width: 3px;
  visibility: hidden;
  background-color: #cccccc;
}

.BaseTable__column-resizer:hover {
  visibility: visible;
  opacity: 1;
}

.BaseTable__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.BaseTable__resizing-line {
  cursor: col-resize;
  position: absolute;
  top: 0;
  background-color: #cccccc;
  width: 3px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.BaseTable__empty-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.BaseTable__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

.BaseTable__overlay > * {
  pointer-events: auto;
}

.AdvanceTable{box-shadow:0 2px 4px 0 #eee;background-color:#fff;position:relative;box-sizing:border-box;font-size:13px}.AdvanceTable--disabled{opacity:0.7;pointer-events:none}.AdvanceTable--dynamic .AdvanceTable__row{overflow:hidden;align-items:stretch}.AdvanceTable:not(.AdvanceTable--dynamic) .AdvanceTable__row-cell-text,.AdvanceTable .AdvanceTable__row--frozen .AdvanceTable__row-cell-text{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.AdvanceTable__table{background-color:#fff;position:absolute;top:0;display:flex;flex-direction:column-reverse}.AdvanceTable__table-main{outline:1px solid #eee;left:0}.AdvanceTable__table-main .AdvanceTable__header-cell:first-child,.AdvanceTable__table-main .AdvanceTable__row-cell:first-child{padding-left:15px}.AdvanceTable__table-main .AdvanceTable__header-cell:last-child,.AdvanceTable__table-main .AdvanceTable__row-cell:last-child{padding-right:15px}.AdvanceTable__table-main .AdvanceTable__header{background-color:#f8f8f8}.AdvanceTable__table-frozen-left .AdvanceTable__header,.AdvanceTable__table-frozen-left .AdvanceTable__body,.AdvanceTable__table-frozen-right .AdvanceTable__header,.AdvanceTable__table-frozen-right .AdvanceTable__body{overflow:hidden !important}.AdvanceTable__table-frozen-left{box-shadow:2px 0 4px 0 #eee;top:0;left:0}.AdvanceTable__table-frozen-left .AdvanceTable__header-cell:first-child,.AdvanceTable__table-frozen-left .AdvanceTable__row-cell:first-child{padding-left:15px}.AdvanceTable__table-frozen-left .AdvanceTable__header-row,.AdvanceTable__table-frozen-left .AdvanceTable__row{padding-right:0 !important}.AdvanceTable__table-frozen-left .AdvanceTable__body{overflow-y:auto !important}.AdvanceTable__table-frozen-right{box-shadow:-2px 0 4px 0 #eee;top:0;right:0}.AdvanceTable__table-frozen-right .AdvanceTable__header-cell:last-child,.AdvanceTable__table-frozen-right .AdvanceTable__row-cell:last-child{padding-right:15px}.AdvanceTable__table-frozen-right .AdvanceTable__header-row,.AdvanceTable__table-frozen-right .AdvanceTable__row{padding-left:0 !important}.AdvanceTable__table-frozen-right .AdvanceTable__body{overflow-y:auto !important}.AdvanceTable__header{overflow:hidden !important}.AdvanceTable .AdvanceTable__header,.AdvanceTable .AdvanceTable__body{outline:none}.AdvanceTable__header-row,.AdvanceTable__row{display:flex;align-items:center;border-bottom:1px solid #eee;box-sizing:border-box}.AdvanceTable__header-row{background-color:#f8f8f8;font-weight:700}.AdvanceTable__row{background-color:#fff}.AdvanceTable__row:hover,.AdvanceTable__row--hovered{background-color:#f3f3f3}.AdvanceTable__row-expanded{border-bottom:1px solid #eee}.AdvanceTable__header-cell,.AdvanceTable__row-cell{min-width:0;height:100%;display:flex;align-items:center;padding:0 7.5px;box-sizing:border-box}.AdvanceTable__header-cell--align-center,.AdvanceTable__row-cell--align-center{justify-content:center;text-align:center}.AdvanceTable__header-cell--align-right,.AdvanceTable__row-cell--align-right{justify-content:flex-end;text-align:right}.AdvanceTable__header-cell{position:relative;cursor:default}.AdvanceTable__header-cell:hover .AdvanceTable__column-resizer{visibility:visible;opacity:0.5}.AdvanceTable__header-cell:hover .AdvanceTable__column-resizer:hover{opacity:1}.AdvanceTable__header-cell .AdvanceTable__sort-indicator{display:none}.AdvanceTable__header-cell--sortable:hover{background-color:#f3f3f3;cursor:pointer}.AdvanceTable__header-cell--sortable:not(.AdvanceTable__header-cell--sorting):hover .AdvanceTable__sort-indicator{display:block;color:#888}.AdvanceTable__header-cell--sorting .AdvanceTable__sort-indicator,.AdvanceTable__header-cell--sorting:hover .AdvanceTable__sort-indicator{display:block}.AdvanceTable__header-cell--resizing .AdvanceTable__column-resizer{visibility:visible;opacity:1}.AdvanceTable__header-cell--resizing .AdvanceTable__column-resizer::after{position:absolute;left:0;right:0;top:0;bottom:0;overflow:hidden;content:'';left:-9999px}.AdvanceTable__header-cell-text{overflow:hidden;text-overflow:ellipsis;white-space:normal}.AdvanceTable__header-row--resizing .AdvanceTable__header-cell{background-color:transparent;cursor:col-resize}.AdvanceTable__header-row--resizing .AdvanceTable__header-cell:not(.AdvanceTable__header-cell--sorting) .AdvanceTable__sort-indicator{display:none}.AdvanceTable__header-row--resizing .AdvanceTable__header-cell:not(.AdvanceTable__header-cell--resizing) .AdvanceTable__column-resizer{visibility:hidden}.AdvanceTable__column-resizer{width:3px;visibility:hidden;background-color:#ccc}.AdvanceTable__column-resizer:hover{visibility:visible;opacity:1}.AdvanceTable__footer{position:absolute;left:0;right:0;bottom:0;overflow:hidden;background-color:#fff}.AdvanceTable__resizing-line{cursor:col-resize;position:absolute;top:0;background-color:#ccc;width:3px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}.AdvanceTable__empty-layer{position:absolute;left:0;right:0;top:0;bottom:0;overflow:hidden;background-color:#fff}.AdvanceTable__overlay{position:absolute;left:0;right:0;top:0;bottom:0;overflow:hidden;pointer-events:none}.AdvanceTable__overlay>*{pointer-events:auto}.AdvanceTable:not(.AdvanceTable--show-left-shadow) .AdvanceTable__table-frozen-left{box-shadow:none}.AdvanceTable:not(.AdvanceTable--show-right-shadow) .AdvanceTable__table-frozen-right{box-shadow:none}.BaseTable__header-row,.BaseTable__row{display:flex;align-items:center;border-bottom:none;box-sizing:border-box}.BaseTable{box-shadow:none;cursor:pointer}.BaseTable__table-main{outline:none !important}.selectedRow{border:2px solid #3d729c}.BaseTable__row:nth-child(even){background-color:#fafafa}

section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

section .tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

section .tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

section .tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

section .tip-wrapper svg path {
  fill: #1ea7fd;
}


/*# sourceMappingURL=main.fd37291c.css.map*/